<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.MarketDataPipeline.Daily.YahooDivAndSplit</string>

    <key>ProgramArguments</key>
    <array>
    <string>python</string>
    <string>/Users/hmaupard/Documents/PythonCode/HistoricalSplitAndDividends/monthly_yahoo_div_and_split_script.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>17</integer>
        <key>Minute</key>
        <integer>05</integer>
    </dict>
</dict>
</plist>